<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Organizer Form</title>
    <!-- Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=KoHo:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700&display=swap"
          rel="stylesheet">
    <style>
        /* Apply the font globally */
        body, html {
            font-family: 'KoHo', sans-serif;
            height: 100%;
            overflow: hidden; /* Prevent scrolling */
        }
    </style>
</head>
<body class="bg-[#f5f5f5] h-screen flex items-center justify-center">

<main class="flex flex-col lg:flex-row w-full h-screen justify-between">

    <!-- Left Section -->
    <section class="bg-[#f5f5f5] w-full p-10 ">
        <div class=" ml-[70px] max-w-lg w-full">
            <div class="flex justify-center my-[10px]">
                <img src="/resources/static/images/khotixs_logo.png" alt="KHOTIXS Logo"
                     class="max-w-[150px] h-[150px] ">
            </div>
            <h2 class="text-2xl font-bold text-gray-800 text-center mb-[25px]">New Password Account</h2>

            <form action="#" method="POST" class="space-y-4">

                <!-- new password -->
                <div>
                    <label
                            for="password"
                            class="block text-sm font-medium text-gray-700">
                        New Password
                        <span class=" text-red-500 ">*</span>
                    </label>
                    <input
                            type="password"
                            id="password"
                            name="password"
                            placeholder="Password@12345!@" required
                            class="mt-1 block w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:border-[#480028]">
                </div>


                <!-- Confirm Password -->
                <div>
                    <label
                            for="confirm-password"
                            class="block text-sm font-medium text-gray-700">
                        Confirm Password
                        <span class=" text-red-500 ">*</span>
                    </label>
                    <input
                            type="password"
                            id="confirm-password"
                            name="confirm-password"
                            placeholder="Password@12345!@" required
                            class="mt-1 block w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:border-[#480028]">
                </div>


                <!-- Submit Button -->
                <button type="submit"
                        class="w-full py-3 px-4 bg-[#480028] text-white rounded-md hover:bg-[#480028] focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
                    Login
                </button>


            </form>

        </div>
    </section>


    <!-- Right Section -->
    <section class="text-white w-full h-full  p-10">
        <div class="relative z-10 w-full flex justify-center mt-[100px] ">
            <div>
                <h1 class="text-5xl font-bold mb-9 text-center">WELCOME TO KHOTIXS</h1>
                <p class="text-2xl max-w-[640px] font-semibold ml-15 ">
                    KHOTIXS is an online platform designed to support ticket booking for events of all kinds.<br>
                    Our website makes it easy to discover upcoming events, book tickets quickly, and access all the
                    details you need in one place.
                </p>
            </div>
        </div>
        <div class="absolute z-10 left-[1050px] bottom-[170px] scale-x-[-1]">
            <img src="/resources/static/images/Animation-inform.gif" alt="animation" class="h-[300px]">
        </div>
        <div class="absolute w-[3544px] h-[3267px] bg-[#480028] rounded-[50%] top-[-1700px] left-[940px]"></div>
    </section>
</main>

</body>
</html>

