<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Organizer Form</title>
    <!-- Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=KoHo:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700&display=swap"
          rel="stylesheet">
    <style>
        body, html {
            font-family: 'KoHo', sans-serif;
            height: 100%;
            overflow: hidden; /* Prevent scrolling */
        }

        @keyframes expandFullScreen {
            0% {
                top: -1700px;
                left: -440px;
                width: 3544px;
                height: 3267px;
            }
            100% {
                top: -1700px;
                left: 940px;
                width: 3544px;
                height: 3267px;
            }
        }

        @keyframes reverseExpandFullScreen {
            0% {
                top: -1700px;
                left: 940px;
                width: 3544px;
                height: 3267px;
            }
            100% {
                top: -1700px;
                left: -440px;
                width: 3544px;
                height: 3267px;
            }
        }

        .animate-expand {
            animation: expandFullScreen 1s ease-in-out forwards;
        }

        .animate-reverse-expand {
            animation: reverseExpandFullScreen 1s ease-in-out forwards;
        }
    </style>
</head>
<body class="bg-[#f5f5f5] h-screen flex items-center justify-center">

<main class="flex flex-col lg:flex-row w-full h-screen justify-between">

    <!-- Left Section -->
    <section class="bg-[#f5f5f5] w-full p-10">
        <div class="max-w-lg w-full ml-[70px]">
            <div class="flex justify-center my-[10px]">
                <img src="/resources/static/images/khotixs_logo.png" alt="KHOTIXS Logo"
                     class="max-w-[150px] h-[150px]">
            </div>
            <h2 class="text-2xl font-bold text-gray-800 text-center mb-[25px]">Register to your Account</h2>
            <p class="text-center text-sm text-gray-600 my-[25px]">
                Create a free account and start buying and selling tickets right away!
            </p>

            <section class="flex flex-row mx-[50px] my-[25px]">
                <button onclick="window.location.href='register-organizer.html'"
                        class="w-full py-3 px-4 bg-[#480028] text-white rounded-tl-md rounded-bl-md border-2 border-[#480028]">
                    Organizer
                </button>
                <button onclick="window.location.href='register-user.html'"
                        class="w-full py-3 px-4 bg-[#ffffff] text-black rounded-tr-md rounded-br-md border-2">
                    Ticket Buyer
                </button>
            </section>

            <form action="/submit" method="POST" class="space-y-4">
                <!-- Company Name -->
                <div>
                    <label for="company" class="block text-sm font-medium text-gray-700">
                        Company Name
                        <span class="text-red-500">*</span>
                    </label>
                    <input
                            type="text"
                            id="company"
                            name="company"
                            placeholder="Enter your company name" required
                            class="mt-1 block w-full p-3 border border-gray-300 rounded-md focus:outline-none focus:border-[#490028]">
                </div>

                <!-- Username -->
                <div>
                    <label for="username" class="block text-sm font-medium text-gray-700">
                        Username
                        <span class="text-red-500">*</span>
                    </label>
                    <input
                            type="text"
                            id="username"
                            name="username"
                            placeholder="Enter a username" required
                            class="mt-1 block w-full p-3 border border-gray-300 rounded-md focus:outline-none focus:border-[#490028]">
                </div>

                <!-- Phone Number -->
                <div>
                    <label for="phone" class="block text-sm font-medium text-gray-700">
                        Phone Number
                        <span class="text-red-500">*</span>
                    </label>
                    <input
                            type="tel"
                            id="phone"
                            name="phone"
                            placeholder="Enter your phone number" required
                            class="mt-1 block w-full p-3 border border-gray-300 rounded-md focus:outline-none focus:border-[#490028]">
                </div>

                <!-- Email -->
                <div>
                    <label for="email" class="block text-sm font-medium text-gray-700">
                        Email Address
                        <span class="text-red-500">*</span>
                    </label>
                    <input
                            type="email"
                            id="email"
                            name="email"
                            placeholder="Enter your email" required
                            class="mt-1 block w-full p-3 border border-gray-300 rounded-md focus:outline-none focus:border-[#490028]">
                </div>

                <!-- Password -->
                <div>
                    <label for="password" class="block text-sm font-medium text-gray-700">
                        Password
                        <span class="text-red-500">*</span>
                    </label>
                    <input
                            type="password"
                            id="password"
                            name="password"
                            placeholder="Username@1234#!" required
                            class="mt-1 block w-full p-3 border border-gray-300 rounded-md focus:outline-none focus:border-[#490028]">
                </div>

                <!-- Submit Button -->
                <button type="submit"
                        class="w-full py-3 px-4 bg-[#480028] text-white rounded-md hover:bg-[#720042] focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
                    Login
                </button>
            </form>

            <p class="mt-6 text-center text-sm text-gray-600">
                Already Registered? <a href="./index.html"
                                       class="text-[#480028] underline hover:text-indigo-500"
                                       onclick="triggerReverseAnimation(event)">login</a>
            </p>
        </div>
    </section>

    <!-- Right Section -->
    <section class="text-white w-full h-full p-10">
        <div class="relative z-10 w-full flex justify-center mt-[100px]">
            <div>
                <h1 class="text-5xl font-bold mb-9 text-center">WELCOME TO KHOTIXS</h1>
                <p class="text-2xl max-w-[640px] font-semibold ml-15">
                    KHOTIXS is an online platform designed to support ticket booking for events of all kinds.<br>
                    Our website makes it easy to discover upcoming events, book tickets quickly, and access all the
                    details you need in one place.
                </p>
            </div>
        </div>
        <div class="absolute z-10 left-[1050px] bottom-[170px] scale-x-[-1]">
            <img src="/resources/static/images/Animation-inform.gif" alt="animation" class="h-[300px]">
        </div>
        <div id="expandable-circle"
             class="absolute w-[3544px] h-[3267px] bg-[#480028] rounded-[50%] top-[-1700px] left-[-440px]">
        </div>
    </section>
</main>

<script>
    // Trigger initial animation on page load
    window.onload = function () {
        const animatedDiv = document.getElementById("expandable-circle");
        animatedDiv.classList.add("animate-expand");
    };

    // Reverse the animation on login click
    function triggerReverseAnimation(event) {
        event.preventDefault(); // Prevent the default link behavior
        const animatedDiv = document.getElementById("expandable-circle");
        animatedDiv.classList.remove("animate-expand");
        animatedDiv.classList.add("animate-reverse-expand");

        // Redirect after animation ends
        setTimeout(() => {
            window.location.href = './index.html';
        }, 1000); // Match animation duration
    }
</script>

</body>
</html>
